<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Claiming Insurance</title>
    <style media="screen">
      body {
        font-size: 24px;
        text-align: center;
        background-color: powderblue;
        font-family: lato;
      }
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 36px;
        color: red;
      }
    </style>
  </head>
  <body>
    <h1>Flights delayed or cancelled? Claim here now.</h1>

    <h2>Enter your flight details according to the flight you want to claim for.</h2><br>

    Enter flight number: <input type="text" id="claimsfn" name="" value=""><br><br>
    Enter departure date: <input type="date" id="claimsdd" name="" value=""><br><br>
    Enter departure airport code: <input type="text" id="claimsdac" name="" value=""><br><br>

    <button type="button" id="checkclaimbutton" name="button">Check Claims</button> <br>

    <h3>You will be entitled to SGD$xxx.</h3>

    <button type="button" id="claimnowbutton" name="button">Claim Now</button>







  </body>
</html>
