<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Flight Insurance Management for Travelers </title>
    <style media="screen">
      body {
        background-color: powderblue;
        font-family: lato;
      }
      h1 {
        text-align: center;
        color: black;
        font-size: 48px;
      }

      p {
        text-align: center;
        color: black;
        font-size: 24px
      }

      #buttons {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>
      Flight Insurance Dapp
    </h1>

    <p>
      Welcome, what do you want to do today?
    </p>

    <div id="buttons" class="row">
      <div class="column">
        Buy Tickets <br> <br>
        <form class="buytixbutton" action="buy" method="">
          <input type="image" src="static/buy.png" name="buytixbutton" alt="Buy Tickets" width="100" height="100">
        </form> <br>
      <div class="column">
        Claim Insurance <br> <br>
        <form class="claimbutton" action="" method="">
          <input type="image" src="static\claim.png" name="claimbutton" alt="Claim Insurance" width="100" height="100">
        </form> <br>
      <div class="column">
        <form class="flightdetails" action="" method="">
          Check Flight Details <br> <br>
          <input type="image" src="{{url_for('static', filename='flight.png')}}" name="flightdetails" alt="Check Flight Details" width="100" height="100">
        </form> <br>
      </div>
    </div>

  </body>

</html>
