<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .majorblock {
        display: flex;
        flex-direction: row;
      }
      .subblock{
        text-align: center;
        flex-grow: 1;
      }
    </style>
  </head>
  <body>
    <div id="buytixblock" class="majorblock">
      <div id="buytix1" class="subblock">
        Buy Tix part 1
      </div>
      <div id="buytix2" class="subblock">
        Buy Tix part 2
      </div>
      <div id="buytix3" class="subblock">
        Buy Tix part 3 dasjbndkjasnkdjanskdnaskjndknasjkndjksandnasdkjasndkjnaskdjnaskdnsakjndaksjndkasnjkdan
      </div>
    </div>
    <br>
    <br>

    <div id="anotherblock" class="majorblock">
      <div id="another11" class="subblock">
        Another block stuff part 1
      </div>
      <div id="another12" class="subblock">
        Another block stuff part 2
      </div>
      <div id="another13" class="subblock">
        Another block stuff part 3
      </div>
    </div>
    <br>
    <br>

    <div id="anotherblock2" class="majorblock">
      <div id="another21" class="subblock">
        Another new block stuff part 1
      </div>
      <div id="another22" class="subblock">
        Another new block stuff part 2
      </div>
      <div id="another23" class="subblock">
        Another new block stuff part 3
      </div>
    </div>
    <br>
    <br>





  </body>
</html>
